{% extends 'base.html.twig'%}

{% block title %}Contact | Logone{% endblock %}

{% block content %}
    <!-- Start Banner Hero -->
    <section class="bg-light">
        <div class="container py-4">
            <div class="row align-items-center justify-content-between">
                <div class="contact-header col-lg-4">
                    <h1 class="h2 pb-3 text-primary">Contact</h1>
                    <h3 class="h4 regular-400">Elit, sed do eiusmod tempor</h3>
                    <p class="light-300">
                        Vector illustration is from <a rel="nofollow" href="https://storyset.com/" target="_blank">StorySet</a>.
                        Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                    </p>
                </div>
                <div class="contact-img col-lg-5 align-items-end col-md-4">
                    <img src="./assets/img/banner-img-01.svg">
                </div>
            </div>
        </div>
    </section>

    <section class="container py-5">

        <h1 class="col-12 col-xl-8 h2 text-left text-primary pt-3">Restons en contact!</h1>
        <p class="col-12 col-xl-8 text-left text-muted pb-5 light-300">
            L'équipe de Logone, reste à votre disposition. N'hésiter pas à nous contacter
        </p>

        <div class="row pb-4">
            <div class="col-lg-4">

                <div class="contact row mb-4">
                    <div class="contact-icon col-lg-3 col-3">
                        <div class="py-3 mb-2 text-center border rounded text-secondary">
                            <i class='display-6 bx bx-news'></i>
                        </div>
                    </div>
                    <ul class="contact-info list-unstyled col-lg-9 col-9  light-300">
                        <li class="h5 mb-0">Media Contact</li>
                        <li class="text-muted">Mr. John Doe</li>
                        <li class="text-muted">010-020-0340</li>
                    </ul>
                </div>

                <div class="contact row mb-4">
                    <div class="contact-icon col-lg-3 col-3">
                        <div class="border py-3 mb-2 text-center border rounded text-secondary">
                            <i class='bx bx-laptop display-6' ></i>
                        </div>
                    </div>
                    <ul class="contact-info list-unstyled col-lg-9 col-9 light-300">
                        <li class="h5 mb-0">Technical Contact</li>
                        <li class="text-muted">Mr. John Stiles</li>
                        <li class="text-muted">010-020-0340</li>
                    </ul>
                </div>

                <div class="contact row mb-4">
                    <div class="contact-icon col-lg-3 col-3">
                        <div class="border py-3 mb-2 text-center border rounded text-secondary">
                            <i class='bx bx-money display-6'></i>
                        </div>
                    </div>
                    <ul class="contact-info list-unstyled col-lg-9 col-9 light-300">
                        <li class="h5 mb-0">Billing Contact</li>
                        <li class="text-muted">Mr. Richard Miles</li>
                        <li class="text-muted">010-020-0340</li>
                    </ul>
                </div>

            </div>


            <!-- Start Contact Form -->
            <div class="col-lg-8 ">
                {% form_theme formUtilisateur 'bootstrap_4_layout.html.twig' %}
                {{ form_start(formUtilisateur) }}
                    {{ form_row(formUtilisateur.nom, {'label':'Nom',
                        'attr':{'placeholder':"Nom"
                        }
                    }) }}

                    {{ form_row(formUtilisateur.prenom, {'label':'Prénom',
                            'attr':{'placeholder':"Prénom"
                            }
                    }) }}

                    {{ form_row(formUtilisateur.tel, {'label':'Téléphone',
                            'attr':{'placeholder':"Téléphone"
                            }
                    }) }}
                    {{ form_row(formUtilisateur.email, {'label':'Email',
                        'attr':{'placeholder':"Email"
                        }
                    }) }}
                    {{ form_row(formUtilisateur.entreprise, {'label':'Entreprise',
                        'attr':{'placeholder':"Entreprise"
                        }
                    }) }}
                    {{ form_row(formUtilisateur.pays, {'label':'Pays',
                        'attr':{'placeholder':"Pays"
                        }
                    }) }}

                    {{ form_row(formUtilisateur.password, {'label':'Mot de passe',
                        'attr':{'placeholder':"mot de passe"
                        }
                    }) }}
                    {{ form_row(formUtilisateur.passwordConfirm, {'label':'Confirmer mot de passe',
                        'attr':{'placeholder':"Confirmer  mot de passe"
                        }
                    }) }}

                    <div class="col-md-12 col-12 m-auto text-end">
                        <button type="submit" class="btn btn-secondary rounded-pill px-md-5 px-4 py-2 radius-0 text-light light-300">Send Message</button>
                    </div>
                {{ form_end(formUtilisateur) }}
            </div>
            <!-- End Contact Form -->


        </div>
    </section>
    <!-- End Contact -->
{% endblock %}

