{% extends 'baseB.html.twig' %}
{% block content %}
    {% form_theme formService 'bootstrap_4_layout.html.twig' %}
    <div class="container">
        <h1>Créer Un Services</h1>
        {{ form_start(formService) }}
        {{ form_row(formService.titre, {'label':'Designation',
            'attr':{'placeholder':"Designation du service"}
        }) }}
        {{ form_row(formService.description, {"label":"Description",
            "attr":{"placeholder":"Description du service"}
        }) }}
        {{ form_row(formService.img, {"label":"Image",
            "attr":{"placeholder":"Url de l'image"}
        }) }}
        <button type="submit" class="btn btn-success">Enregistrer</button>
        {{ form_end(formService) }}
    </div>


{% endblock %}