{% extends 'baseB.html.twig' %}

{% block content %}

        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Tables</li>
        </ul>
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand btn btn-primary btnSpecial" href="{{ path('service_ajoute') }}">Ajouter</a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" id="search_text" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div>
            </nav>
        </div>
        <div class="table size">
            <table class="table table-hover tableSize">
                <thead>
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for service in services %}
                    <tr>
                        <td>{{ service.titre }}</td>
                        <td>{{ service.description }}</td>
                        <td><a href="{{ path('updateService', {'id':service.id}) }}"><i class="fas fa-edit"></i></a></td>
                        <td><a href="{{ path('deleteService', {'id':service.id}) }}"><i class="far fa-trash-alt"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

{% endblock %}